<div class="app-user-details p-5">
  <div
    class="
      user-details-content
      d-flex
      flex-column flex-md-row
      justify-content-md-center
      align-items-center
    "
  >
    <div class="avatar">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{ width: '200px', height: '200px' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="card w-25 h-100">
      <div class="card-body">
        <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
