<app-header></app-header>
<main class="container">
  <ng-container *ngIf="userDetails$ | async as userDetails">
    <app-user-details
      [userDetails]="userDetails"
      [isLoading]="loadingUserDetails"
    ></app-user-details>
    <div class="divider border-top mx-3"></div>
    <ng-container *ngIf="userRepos$ | async as userRepos">
      <app-user-repos
        [repos]=" userRepos ?? []"
        [isLoading]="loadingUserRepos"
      ></app-user-repos>
    </ng-container>
    <ngb-pagination
      class="d-flex justify-content-center"
      *ngIf="userDetails.public_repos && !loadingUserRepos"
      [collectionSize]="userDetails.public_repos | upperMaxNum"
      [page]="(currentPage$ | async) ?? 1"
      (pageChange)="updatePage($event)"
      [maxSize]="4"
    ></ngb-pagination>
  </ng-container>
</main>
